* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* Fondo estilo cielo + naturaleza */
body {
    background: linear-gradient(to bottom,#e9eee8 , #fcfdfc );
    min-height: 100vh;
}

/* HEADER FRUTIGER AERO */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;

    background: rgb(255, 255, 255);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border-bottom: 1px solid rgba(255, 255, 255, 0.952);
    box-shadow: 0 8px 32px rgba(1, 20, 12, 0.2);
}

/* Logo */
.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #f6fdf7;
    text-shadow: 0 0 8px rgba(2, 8, 6, 0.8);
}

/* NAV */
.nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #969c9b;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 20px;
    transition: 0.3s ease;
}

/* Hover efecto vidrio brillante */
.nav a:hover {
    background: rgba(245, 242, 242, 0.74);
    box-shadow: 0 0 15px rgba(15, 19, 17, 0.6);
    color: #070a0a;
}

/* SECCIÓN BIENVENIDA */
.welcome {
    text-align: center;
    margin-top: 120px;
    color: rgb(5, 4, 4);
}

.welcome h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.welcome p {
    font-size: 1.2rem;
    opacity: 0.9;
}

/* Título principal */
h2 {
    text-align: center;
    font-size: 2.2rem;
    color: #2e7d32;
    margin-bottom: 30px;
    text-transform: capitalize;
}

/* Contenedor de la lista */
.Lista_de_noticias {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

/* Tarjeta individual */
.Lista_de_noticias li {
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-left: 6px solid #1c6e1e;
}

/* Efecto hover */
.Lista_de_noticias li:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

/* Título de la noticia */
.Lista_de_noticias h3 {
    color: #1b5e20;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

/* Descripción */
.Lista_de_noticias p {
    color: #555;
    font-size: 0.95rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Botón */
.Lista_de_noticias a {
    display: inline-block;
    padding: 8px 15px;
    background: #2a662c;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.Lista_de_noticias a:hover {
    background: #266929;
}

body {
    background: linear-gradient(to right, #e8f5e9, #f1f8e9);
    font-family: 'Segoe UI', sans-serif;
}