<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    
    <header class="header">
    <div class="logo">
        🌎 EcoWord
    </div>

    <nav class="nav">
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('informate') }}">Infórmate</a>
        <a href="{{ url_for('comunidad') }}">Comunidad</a>
        <a href="{{ url_for('donar') }}">Donar</a>
        <a href="#">Iniciar Sesión</a>
    </nav>
</header>
{% block content%}
{% endblock %}
</body>
</html>