<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Estilo Greenpeace</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav class="navbar">
    <div class="nav-left">
        <a href="#" class="nav-logo">🌿 EcoApp</a>
    </div>

    <ul class="nav-menu">
        <li><a href="#informate">Informate</a></li>
        <li><a href="#donacion">Donación</a></li>
        <li><a href="#comunidad">Comunidad</a></li>
    </ul>

    <div class="nav-right">
        <a href="#login" class="btn-login">Iniciar Sesión</a>
    </div>
</nav>

</body>
</html>