{% extends "base.html" %}

{% block content %}
<section class="welcome">
    <h1>Bienvenido</h1>
    <p>
        Nuestro objetivo como comunidad es informarnos, tomar acción y denunciar a las grandes empresas que dañan nuestro planeta día a día.
        Tenemos un norte claro: no bajar la cabeza ante los desastres ambientales que ocurren constantemente debido al cambio climático.
        Sabemos que solos no podemos hacer demasiado, por eso decidimos unirnos para avanzar de manera más equitativa; si somos más, podemos más.
        Nuestro objetivo principal es construir una comunidad dispuesta a informarse y a tomar acción frente a las problemáticas ambientales.
        Para tiempos modernos, necesitamos soluciones modernas.
    </p>
</section>
{% endblock %}